@model IList<DTO.LifeInsuranceDTO.LifeInsuranceDTO>
@using Common.Helper;
@{

    var _inc = 1;
}
<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Gender</th>
                <th>IP Address</th>
                <th>Lead Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Home Phone Number</th>
                <th>Email</th>
                <th>ZipCode</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td width="5%" class="text-center">@_inc</td>
                        <td>@(item.GenderId==1?"Male":"Female")</td>
                        <td>@item.IpAddress</td>
                        <td>@item.LeadID</td>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.HomePhoneNumber</td>
                        <td>@item.Email</td>
                        <td>@item.ZipCode</td>
                    </tr>
                    _inc = _inc + 1;
                }
            }

        </tbody>
    </table>
</div>