@model IList<DTO.MedicareDTO.MedicareDTO>
@using Common.Helper;
@{

    var _inc = 1;
}
<div class="table-responsive">
    <table class="table table-bordered" id="MedicalDatable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>IP Address</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Pre-Existing Or Smoker</th>
                <th>Uninsurable</th>
                <th>Currently Insurred</th>

            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                @foreach (var item in Model)
                {
            <tr>
                <td width="5%" class="text-center">@_inc</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.IPAddress</td>
                <td>@item.Email</td>
                <td>@(item.GenderId == 1?"Male":"Female")</td>
                <td>@item.Address</td>
                <td>@item.City</td>
                <td>@item.State</td>
                <td>@Html.Raw(Helper.GetStatus(item.Smoker))</td>
                <td>@Html.Raw(Helper.GetStatus(item.Uninsurable))</td>
                <td>@Html.Raw(Helper.GetStatus(item.CurrentlyInsured))</td>
            </tr>
                    _inc = _inc + 1;
                }
            }

        </tbody>
    </table>
</div>