@model IList<DTO.MedicareDTO.MedicareDTO>
@using Common.Helper;
@{

    var _inc = 1;
}
<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Is Student</th>
                <th>Education</th>
                <th>Occupation</th>
                <th>Household Income</th>
                <th>People Living</th>
                <th>Weight</th>
                <th>Height</th>
                <th>Married</th>
                <th>Treated By Physician</th>
                <th>Pre-Existing Or Smoker</th>
                <th>Gender</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                @foreach (var item in Model)
                {
                    @*<tr>
                        <td width="5%" class="text-center">@_inc</td>
                        <td>@(item.GenderId==1?"Male":"Female")</td>
                        <td>@item.Education?.GetEnumDescription()</td>
                        <td>@item.Occupation?.GetEnumDescription()</td>
                        <td>@item.HouseholdIncome</td>
                        <td>@item.NumberOfPeopleLiving</td>
                        <td>@item.Weight</td>
                        <td>@item.Height</td>
                        <td>@Html.Raw(Helper.GetStatus(item.IsMarried))</td>
                        <td>@Html.Raw(Helper.GetStatus(item.TreatedByPhysician))</td>
                        <td>@Html.Raw(Helper.GetStatus(item.TreatedByPhysician))</td>
                        <td>@Html.Raw(Helper.GetStatus(item.PreExistingOrSmoker))</td>
                    </tr>*@
                    _inc = _inc + 1;
                }
            }

        </tbody>
    </table>
</div>